@page "/"

<PageTitle>Home</PageTitle>

<h1>Proyecto Final!</h1>

<h6>Sistema de Gestión</h6>

<br />
<br />

<img src="csharp.png" alt="logo de C#" />


<!-- Footer -->
<footer class="footer">
    <p>Martín Madruga - Octubre 2024.</p>
</footer>

<!-- CSS -->
<style>
    .footer {
        background-color: white;
        color: black;
        padding: 10px;
        text-align: left;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
</style>