@page "/productos/{id:int}/editar"
@inject ProductoBusiness Service

<h3>EditProducto</h3>

@if(Producto == null)
{
    <p>No existe el producto</p>
}
else
{
    <ProductosForm Producto="Producto" />
}

@code {

    [Parameter]
    public int Id { get; set; }

    private Producto? Producto;

    protected override async Task OnInitializedAsync()
    {

        Producto = await Service.GetOneProducto(Id);
    }
}