@page "/producto-vendido/{id:int}/editar"
@inject ProductoVendidoBusiness Service

<h3>EditProductoVendido</h3>

@if (ProductoVendido == null)
{
    <p>No existe el producto vendido</p>
}
else
{
    <ProductoVendidoForm ProductoVendido="ProductoVendido" />
}

@code {

    [Parameter]
    public int Id { get; set; }

    private ProductoVendido? ProductoVendido;

    protected override async Task OnInitializedAsync()
    {
        ProductoVendido = await Service.GetOneProductoVendido(Id);
    }
}
